.home-container {
    padding: 5px 5px;

    .title-container {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: auto;
        overflow: hidden;
        width: 90%;
        margin: 15px auto;
        font-weight: 100;
        h1{
            color: #29334F;
            font-weight: 700;
            font-size: 1.363rem;
        }
        h2{
            margin: 0;
            color: #29334F;
            font-weight: 500;
            font-size: 1rem;
        }
    }
}