.button-container {

  margin: 60px 8px 53px;
  width: auto;
  font-size: 12px;
  font-weight: 100;
  padding: 4px 13px;
  background-color: #29334F;
  color: white;
  text-transform: uppercase;
  font-family: 'Montserrat';
  border: none;
  cursor: pointer;
  justify-content: center;


  &:hover {
    background-color: white;
    color: #29334F;
    border: 1px solid #29334F;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
      border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: #29334F;
    border: 1px solid #29334F;

    &:hover {
      background-color: #29334F;
      color: white;
      border: none;
    }
  }
}