body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  padding: 5px 5px;
  background-color: #f4f4f4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color:black;
}

* {
  box-sizing: border-box;
}


